header{
    text-align: center;
    background-color: #00eeff;
    border: 3px solid #0066ff;;
  }
  
  h2{
    text-align: center;
  } 

.humidity, .wind, .iconexp, .lead, .date-off{
    font-weight: 666;
    text-align: center;
  }
  
  .current-time{
    font-weight: 999;
    text-align: center;
  }
  